<div class="container">
    <div class="row justify-content-center d-flex mt-5">
        <div class="col-6">
          <div class="card shadow">
            <div class="card-body">
              <h4 class="card-title">Email</h4>
              <p class="card-text">{{email}}</p>
            </div>
          </div>

        </div>
        <div class="col-6">
          <div class="card shadow">
            <div class="card-body">
              <h4 class="card-title">Token de usuario</h4>
              <p class="card-text">{{token}}</p>
            </div>
          </div>

        </div>
        <div class="col-12 mt-3">
            <button class="btn btn-danger btn-block" (click)='logOut()'>Log Out</button>
        </div>
    </div>
</div>
